<body>
  <br>
    <h1>Cines para visitar!</h1>

    <div class="card text-center" *ngFor ="let cines of cines">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img *ngIf="cines.image == null" src="../../../assets/img/cine.jpg" class="card-img-top" alt="Cine.jpg" id="imagenCine">
        <img *ngIf="cines.image" src="{{uri+'getImageCine/'+cines.image}}" class="card-img-top" alt="Cineimagen.jpg" id="imagenCine">
        <div class="card-body">
          <h5 class="card-title" id="tituloCine">{{cines.name}}</h5>
          <p class="card-text"><strong>Dirección: </strong>{{cines.direccion}}</p>
        </div>

        <div class="d-grid gap-2 col-2 mx-auto text-center">
            <button class="btn btn-primary btn-sm" type="button" (click)="obtenerData(cines)" id="verCinebtn" routerLink="/cartelera">Ver Cartelera</button>
            <button class="btn btn-success btn-sm" (click)="obtenerData(cines)" type="button" *ngIf="user._id == cines.admin" id="verCinebtn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="obtenerData(cines)" type="button" *ngIf="user.role == 'ROLE_ADMIN'" id="verCinebtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" *ngIf="user._id == cines.admin" (click)="obtenerData(cines)">
              Subir imagen
          </button>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" data-bs-backdrop="true">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Editar Cine</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form>
                <label for="inputName">Nombre</label>
                <input [(ngModel)]="cine.name" name="name" #name="ngModel" class="form-control" id="inputName" type="text" placeholder="name" required>
                <label for="inputDireccion">Descripción</label>
                <input [(ngModel)]="cine.direccion" name="direccion" #direccion="ngModel" class="form-control" id="inputDireccion" type="text" placeholder="Direccion" required>
            </form>
            <br>
            <div class="d-grid gap-2">
                <button class="btn btn-success" type="button" (click)="updateCine()">Actualizar Datos</button>
              </div>
        </div>
    </div>
    <br>
    <br>

    <!--Modal para eliminar cine-->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¡Peligro! Esta acción es irreversible</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿De verdad deseas eliminar el cine "{{cine.name}}"?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCine()">Estoy de Acuerdo</button>
            </div>
          </div>
        </div>
    </div>
</body>

<!-- MODAL PARA SUBIR IMAGEN DE CINE -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Imagen de cine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Elije tu imagen</h3>
        <form #formUpload="ngForm">
          <label for="inputImage"></label>
          <input type="file" name="image" id="inputImage" (change)="fileChange($event)" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="subirImage()">Upload</button>
      </div>
    </div>
  </div>
</div>

