<body>
    <br><img *ngIf="cineSelected.image" src="{{uri+'getImageCine/'+cineSelected.image}}" class="imagenCine" alt="imagen del cine">
    <img *ngIf="cineSelected.image == null" src="../../../assets/img/cine.jpg" class="imagenCine" alt="Imagen por defecto">
    <h1 class="textoCine">{{cineSelected.name}}</h1>
    <button *ngIf="user._id ==cineSelected.admin" class="btn btn-success col-lg-3  boton2" routerLink="/addMovie">Agregar pelicula</button>

    <br><br><h1 class="texto1">Peliculas disponibles</h1>
    <div class="card text-center" id="cards" style="width: 18rem;" *ngFor="let peliculas of peliculas">
      <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img *ngIf="peliculas.image == null" src="../../../assets/img/movie.png" class="imagen" alt="Imagen por defecto"><br><br>
        <img *ngIf="peliculas.image" src="{{uri+'/getImageMovie/'+peliculas.image}}" class="imagen" alt="Imagen de pelicula"><br><br>
        <div class="card-body">
          <button class="btn btn-primary boton" (click)="obtenerData(peliculas)" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver pelicula</button><br><br>
          <button *ngIf="user._id ==cineSelected.admin" type="button" class="btn btn-success boton" data-bs-toggle="modal" data-bs-target="#myModal" (click)="obtenerData(peliculas)">
            Subir imagen
          </button><br><br>
          <button *ngIf="user._id ==cineSelected.admin" type="button" class="btn btn-success boton" data-bs-toggle="modal" data-bs-target="#editarMovie" (click)="obtenerData(peliculas)">
            Editar Pelicula
          </button><br><br>
          <button *ngIf="user._id ==cineSelected.admin" type="button" class="btn btn-danger boton" data-bs-toggle="modal" data-bs-target="#deleteMovie" (click)="obtenerData(peliculas)">
            Eliminar Pelicula
          </button>
        </div>  
    </div>   
</body>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{pelicula.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img *ngIf="pelicula.image == null" src="../../../assets/img/movie.png" class="imagenSeleccionada" alt="Imagen por defecto">
            <img *ngIf="pelicula.image" src="{{uri+'/getImageMovie/'+pelicula.image}}" class="imagenSeleccionada" alt="Imagen de pelicula">
            <p class="texto5">{{pelicula.clasificacion}}</p><p class="texto6">{{pelicula.categoria}}</p><p class="texto8">{{pelicula.estado}}</p><br><br><hr>
            <h2 class="texto2">Sinopsis:</h2>
            <p class="texto7">{{pelicula.sinopsis}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="pelicula.estado != 'Proximamente'" type="button" class="btn btn-primary" routerLink="/reservacion" data-bs-dismiss="modal">Comprar boletos</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL PARA SUBIR IMAGEN DE PELICULA -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Imagen de Pelicula</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Elije tu imagen</h3>
        <form #formUpload="ngForm">
          <label for="inputImage"></label>
          <input type="file" name="image" id="inputImage" (change)="fileChange($event)" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="uploadImageMovie()">Upload</button>
      </div>
    </div>
  </div>
</div>

<!--Modal editar pelicula-->
<div class="modal fade" data-bs-backdrop="static" id="editarMovie" tabindex="-1" aria-labelledby="editarMovieLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarTeamLabel">Editar Pelicula: {{pelicula.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br>
        <form>
          <label for="inputName">Nombre</label>
          <input [(ngModel)]="pelicula.name" name="name" #name="ngModel" class="form-control" id="inputName" type="text" placeholder="name" required><br><br>
          <label for="inputCountry">Sinopsis</label>
          <input [(ngModel)]="pelicula.sinopsis" name="sinopsis" #sinopsis="ngModel" class="form-control" id="inputCountry" type="text" placeholder="sinopsis" required><br><br>
          <p for="selectClasificacion">Clasificacion: </p>
          <select [(ngModel)]="pelicula.clasificacion" name="clasificacion">
            <option *ngFor="let option of opciones2" [value]="option">{{option}}</option>
          </select><br><br>
          <p for="selectCategoria">Categoria: </p>
          <select [(ngModel)]="pelicula.categoria" name="categoria">
            <option *ngFor="let option of opciones" [value]="option">{{option}}</option>
          </select><br><br>
          <p for="selectEstado">Estado: </p>
          <select [(ngModel)]="pelicula.estado" name="estado">
            <option *ngFor="let option of opciones3" [value]="option">{{option}}</option>
          </select>
        </form>
        <br>
        <div></div>
        <div class="d-grid gap-2 d-md-block">
          <br>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="updateMvoie()" data-bs-dismiss="modal">Actualizar</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!--Modal para eliminar pelicula-->

<div class="modal fade" id="deleteMovie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Peligro! Esta acción es irreversible</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿De verdad deseas eliminar la pelicula: "{{pelicula.name}}"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteMovie()">Estoy de Acuerdo</button>
      </div>
    </div>
  </div>
</div>