<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="../../../assets/img/iconocm.png" class="imagen">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                    <a class="nav-link" *ngIf="token == null" routerLink="/index" routerLinkActivate="active">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="token != null || token != undefined" routerLink="/cinesHome" routerLinkActivate="active">Ver Cines</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="token == null" routerLink="/register" routerLinkActivate="active">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="token == null" routerLink="/login">Login</a>
                  </li>
                <li *ngIf="token != null || token != undefined" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Más opciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="/user">Perfil</a></li>
                      <li><a *ngIf="user.role == 'ROLE_ADMIN'" class="dropdown-item" routerLink="/saveUser">Agregar Usuario</a></li>
                      <li><a *ngIf="user.role == 'ROLE_ADMIN'" class="dropdown-item" routerLink="/addCine">Agregar Cine</a></li>
                      <li><a *ngIf="user.role == 'ROLE_ADMINCINE'" class="dropdown-item" routerLink="/administrarCines">Ver mis Cines</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" (click)="logOut()">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <ul class="navbar-nav ml-auto" *ngIf="token != null">
                  <li class="nav-item">
                      <a class="nav-link texto1" routerLink="/user">{{user.username}}</a>
                  </li>
                  <li>
                    <img *ngIf="user.image == null" src="../../../assets/img/user.png" class="imagenUser" alt="Imagen de usuario default">
                    <img *ngIf="user.image" id="imgUser" src="{{uri+'getImage/'+user.image}}" class="imagenUser" alt="Imagen de usuario">
                  </li>
              </ul>
            </ul>
        </div>
    </div>
</nav>
