body{
    background-color: #0c0f1d;;
}

.texto1{
    text-align: center;
    color:gold;
    font-size: 50px;
}

.texto2{
    font-size: 30px;
}

.contenedor{
    margin: auto;
    width: 100%;
}

.cajaColumna{
    color:white;
    background: #0c0f1d;
    position: relative;
    text-align: center;
    width: 90%;
    height: 500px;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 130px;
}

.cajaColumna .texto{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #7FFF00;
    padding: 30px;
}


svg,rect{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}

rect{
    stroke: #FFD700;
    /*stroke: transparent;*/
    stroke-width: 4;
    stroke-dasharray: 400;
    animation: animate 4s linear infinite
}

.caja .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes animate{
    0%{
        stroke-dashoffset: 800;
    }

    100%{
        stroke-dashoffset: 0;
    }
}

input{
    height: 40px;
    width: 400px;
    padding-left: 20px;
    padding-right: 10px;
    border-color: lightskyblue;
    border-style: inherit;
    margin-left: 380px;
}

select{
    height: 40px;
    width: 400px;
    border-color: lightskyblue;
    border-style: inherit;
    margin-left: 380px;
}

button{
    margin-left: 20px;
}