<html>
    <br>
    <section class="caja">
        <div class="contenedor">
            <div class="cajaColumna">
                <svg><rect></rect></svg>
                <div class="texto">
                    <h2>Magic cinema</h2>
                    <p>Tu cine de confianza</p><br>
                    <p class="texto2">Inicia sesión para ver las ofertas</p>
                    <button class="btn btn-success" routerLink="/login">Iniciar sesion</button><hr>
                    <p class="texto2">¿No tienes una cuenta?</p>
                    <button class="btn btn-primary" routerLink="/register">Registrate gratis</button>
                </div>
            </div>
        </div><br>
    </section>
</html>
