.imagenSeleccionada{
    height: 230px;
    width: 170px;
    float: left;
    margin-left: 20px;
    margin-bottom: 100px;
}

.texto1{
    font-size: 40px;
    color: honeydew;
    padding-left: 50px;
    float: left;
}

.texto3{
    color:lightcyan;
    text-align: center;
}

body{
    background-color: #0c0f1d;
}

.card{
  display: inline-block;
  margin: 2px;
  text-align:center;
  margin-left: 130px;
  margin-right: 50px;
}

.card-title{
  font-size: 10px;
}

#btnAsiento{
  font-size: 10px;
}
  
  
  .clasificacion {
    direction: rtl;
    unicode-bidi:embed;
    margin-left: 20px;
    margin-right: 900px;
  }
  
 .texto2{
     color: blue;
     font-size: 30px;
     text-align: center;
     font-family: 'Gill Sans MT';
 }

.textoAsiento{
    font-size: 30px;
    color: white;
}

.textoAsiento2{
    font-size: 50px;
    color: white;
}


.asientos{
    margin-left: 480px;
}

.boton{
    margin-left: 470px;
}

.boton2{
    margin-left: 250px;
}