<body>

    <img *ngIf="movie.image == null" src="../../../assets/img/movie.png" class="imagenSeleccionada" alt="Imagen por defecto"><br><br>
    <img *ngIf="movie.image" src="{{uri+'/getImageMovie/'+movie.image}}" class="imagenSeleccionada" alt="Imagen de pelicula"><br><br>
    <p class="texto1">{{movie.name}}</p>
    <p class="texto1">{{movie.clasificacion}}</p>
    <p class="texto1">{{movie.categoria}}</p><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="texto3">Escoje tu asiento</h1>

    <div class="card" style="width: 6rem; height: 6rem;" *ngFor="let asientos of asientos">
        <div class="card-body">
        <h5 class="card-title">{{asientos.codAsiento}}</h5>
        <button id="btnAsiento" class="btn btn-danger btn-sm" *ngIf="asientos.estado == 'Ocupado'" disabled>{{asientos.estado}}</button>
        <button id="btnAsiento" class="btn btn-success btn-sm" *ngIf="asientos.estado != 'Ocupado'" (click)="obtenerData(asientos)" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"required>{{asientos.estado}}</button>
        </div>
    </div>
    <br>
    <br>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form (ngSubmit)="onSubmit()" #reservar="ngForm">
                <div class="mb-3">
                    <label for="fechaInput" class="form-label">Fecha</label>
                    <input [(ngModel)]="reservacion.fecha" name="fecha" type="date" class="form-control" id="fechaInput" required>
                </div>
                <div class="mb-3">
                    <label for="numerInput" class="form-label">Número de Tarjeta</label>
                    <input [(ngModel)]="reservacion.numeroTarjeta" name="numeroTarjeta" type="number" class="form-control" id="numerInput" required>
                </div>
                <div class="mb-3">
                    <label for="precioInput" class="form-label">Total a pagar</label>
                    <input value="{{movie.precio}}" name="precio" type="number" class="form-control" id="precioInput" disabled>
                </div>
                <div class="mb-3">
                    <label for="asientoInput" class="form-label">Asiento</label>
                    <input type="text" class="form-control" id="asientoInput" value="{{asiento.codAsiento}}" disabled>
                </div>
                <button class="btn btn-success" [disabled]="!reservar.form.valid">Comprar boleto</button>
                <button class="btn btn-danger" routerLink="/cartelera">Cancelar</button>
            </form>
        </div>
      </div>
</body>
