<h1>Agregar pelicula</h1>
<form (ngSubmit)="onSubmit()" #saveMovie="ngForm" class="form-signin">
<p>Nombre:</p>
<input [(ngModel)]="movie.name" id="name" name="name" type="text" placeholder="Nombre de la pelicula">
<p>Sinopsis:</p>
<input [(ngModel)]="movie.sinopsis" id="sinopsis" name="sinopsis" type="text" placeholder="Descrpcion de de la pelicula">
<p>Categoria: </p>
<select [(ngModel)]="movie.categoria" name="categoria">
    <option *ngFor="let option of opciones" [value]="option">{{option}}</option>
</select>
<p>Clasificacion: </p>
<select [(ngModel)]="movie.clasificacion" name="clasificacion">
    <option *ngFor="let option of opciones2" [value]="option">{{option}}</option>
</select>
<p>Estado: </p>
<select [(ngModel)]="movie.estado" name="estado">
    <option *ngFor="let option of opciones3" [value]="option">{{option}}</option>
</select>
<br><br>
<button type="submit" class="btn btn-success">Guardar pelicula</button>
<input type="button" class="btn btn-danger" value="Cancelar" routerLink="/cartelera"><br><br>
</form>
