<body>
    <br>
    
    <div class="division">
      
        <img *ngIf="user.image == null" src="../../../assets/img/user.png">
        <img *ngIf="user.image" src="{{uri+'getImage/'+user.image}}" alt="Imagen de perfil">
        
        <br><h1 class="texto1">Nombre: </h1>
        <h2 class="texto3"> {{user.name}}</h2><br>
        <h1 class="texto1">Apellido: </h1>
        <h2 class="texto3"> {{user.lastname}}</h2><br>
        <h1 class="texto1">Username: </h1>
        <h2 class="texto3"> {{user.username}}</h2><br>
        <h1 class="texto4">E-mail: </h1>
        <h2 class="texto3"> {{user.email}}</h2><br><br>

        <div class="text-center">
        <button type="button" class="btn btn-primary col-lg-3 mx-2" data-bs-toggle="modal" data-bs-target="#myModal">
            Subir imagen
        </button>
        <button type="button" class="btn btn-primary col-lg-3 mx-2" data-bs-toggle="modal" data-bs-target="#editar">
          Editar
        </button>
        <button type="button" class="btn btn-primary col-lg-3 mx-2" data-bs-toggle="modal" data-bs-target="#eliminar">
          Eliminar
        </button>
      </div>
      
    </div>
    
    <h2 class="grupo2">&copy;Grupo #2</h2><br>
</body>

<!-- MODAL PARA SUBIR IMAGEN DE USUARIO -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">User image</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Elije tu imagen</h3>
          <form #formUpload="ngForm">
            <label for="inputImage"></label>
            <input type="file" name="image" id="inputImage" (change)="fileChange($event)" required>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="uploadImage()">Upload</button>
        </div>
      </div>
    </div>
  </div>

  
<!-- MODAL PARA EDITAR USUARIO -->
<div class="modal fade" id="editar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Editar datos</h3>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label for="inputName" >Nombre</label>
          <input [(ngModel)]="user.name" name="name" #name="ngModel" class="form-control" id="inputName"  type="text" placeholder="name" required>
          <label for="inputName">Apellido</label>
          <input [(ngModel)]="user.lastname" name="lastname" #lastname="ngModel" class="form-control" id="inputLastname" type="text" placeholder="lastname" required>
          <label for="inputUsername">Username</label>
          <input [(ngModel)]="user.username" name="username" #username="ngModel" class="form-control" id="inputUsername" type="text" placeholder="username" required>
          <label for="inputEmail">E-mail</label>
          <input [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control" id="inputEmail" type="email" placeholder="email" required>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="refreshPage()" >Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="updateUser()" data-bs-dismiss="modal">Actualizar</button>
      </div>
    </div>
  </div>
</div>

   <!-- MODAL PARA ELIMINAR CUENTA -->
   <div class="modal fade" id="eliminar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Peligro</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Esta accion es irreversible</h3>
          <span>Ingresa tu contraseña para borrar la cuenta</span>
          <form #formRemove="ngForm">
            <label for="passwordRemove"></label>
            <input [(ngModel)]="possiblePass" type="password" name="possiblePass" id="passwordRemove" required>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger" (click)="deleteUser()" [disabled]="!formRemove.form.valid">Eliminar</button>
        </div>
      </div>
    </div>
  </div>