html{
    background-color: white;
    min-height: 100vh;
}

h1{
    text-align: center;
    letter-spacing: 4px;
}

.texto{
    margin-bottom: 700px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}