<body>
    <br><img class="imgcine" *ngIf="cineSelected.image" src="{{uri+'getImageCine/'+cineSelected.image}}" alt="imagen del cine">
    <img *ngIf="cineSelected.image == null" src="../../../assets/img/cine.jpg" alt="Imagen por defecto" class="imgcine">
    <h1 class="textoCine">{{cineSelected.name}}</h1>
    <div class="text-center">
    <button *ngIf="user._id ==cineSelected.admin" class="btn btn-success col-lg-3  boton2 text-center" routerLink="/addGolosina">Agregar Golosina</button>
    </div>
    <br>
    <h1 class="golosinas">Golosinas disponibles</h1>
    <div class="card text-center" id="cards" style="width: 18rem;" *ngFor="let golosinas of golosinas">
      <span></span>
        <span></span>
        <span></span>
        <span></span>
    <br><img *ngIf="golosinas.image == null" src="../../../assets/img/golosinas.png"  alt="Imagen por defecto" class="imagen">
    <img *ngIf="golosinas.image" src="{{uri+'/getImageGolosina/'+golosinas.image}}" alt="Imagen de pelicula" class="imagen"><br>
    <p>{{golosinas.name}}</p>
    <p>{{golosinas.descripcion}}</p>
    <p>Precio: Q{{golosinas.precio}}</p>
    <button *ngIf="user._id ==cineSelected.admin" type="button" class="btn btn-success boton" data-bs-toggle="modal" data-bs-target="#myModal" (click)="obtenerData(golosinas)">
        Subir imagen
    </button><br><br>
    </div>
</body>


<!-- MODAL PARA SUBIR IMAGEN DE PELICULA -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Imagen de Pelicula</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Elije tu imagen</h3>
          <form #formUpload="ngForm">
            <label for="inputImage"></label>
            <input type="file" name="image" id="inputImage" (change)="fileChange($event)" required>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="uploadImageGolosina()">Upload</button>
        </div>
      </div>
    </div>
  </div>